@media only screen and (max-width:688px) {
    .containers{
        width:100%;
    }

section.containers {
    width: 100%;
}
.containers .top-players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.containers .top-players h2{
    margin-left: 10%;
}
    .players{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        
    }
    .players .player{
        display: flex;
        flex-direction: column;
        
    }
    .players .player img{
        margin-bottom:5px;
    }
    .containers .top-blogs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .containers .top-blogs h2{
        margin-left: 10%;
    }
    .top-blogs .blog-container{
        grid-template-columns: repeat(1,1fr);
    }
    .top-blogs .blog-container .blogs{
        display: flex;
        flex-direction: column;
        padding-left:30%;
       
    }
    .top-blogs .blog-container .blogs img{
        margin-bottom: 10%;
    }
    .containers .course-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .containers .course-container h2{
        margin-left: 10%;
    }
    .course-container .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .course-container .courses .course{
        display: flex;
        flex-direction: column;
        padding-left:15%;
    }
    .course-container .courses .course img{
        margin-bottom: 8%;
    }
    
    
}